<%- include('../layouts/adminHeader') %>

<h2 class="page-title">Edit A Cartegory</h2>
<a href="/admin/cartegories" class="btn btn-primary"
  >Back to all Cartegory pages</a
>
<br /><br />

<h1>Welcome To Admin Edit Page</h1>

<form method="post" action="/admin/cartegories/edit-cartegory/<%= id %>">
  <div class="form-group">
    <label for="Title"></label>
    <input
      type="text"
      name="title"
      class="form-control"
      placeholder="Title"
      value="<%= title %>"
    />
  </div>

  <button class="btn btn-primary" aria-placeholder="Write some content">
    Submit
  </button>
</form>

<%- include('../layouts/adminFooter') %>
